@import "./pages/scss/_navbar-style.scss";
@import "./pages/scss/_homepage-style";
@import "./pages/scss/pioneers-style";
@import "./pages/scss/_terminology-style.scss";
@import "./pages/scss/_spinner.scss";
@import "./pages/scss/_http";
@import "./pages/scss/references-style";

$bg: #f0ebce;
$font: #37393a;

//Max with media query:
$phone: 576px;
$tablet: 992px;
$laptop: 1200px;

/**NOTE - Global Styles */
* {
  box-sizing: border-box;
  color: $font;
  text-decoration: none;
}
html,
body {
  background-color: $bg;
  margin: 0;
}

h1 {
  color: #395144;
  text-align: center;
  padding: 15px 0;
}
h2 {
  padding: 5px 15px;
}

p {
  line-height: 1.4rem;
}

.main-container {
  width: 80%;
  margin: auto;
}

.container {
  margin-top: 30px;

  width: 100%;
  height: 100%;
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;

    p,
    img {
      padding: 0 15px;
    }
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

// Laptop view
@media only screen and (max-width: $laptop) {
  .main-container {
    width: 100%;
    padding: 0 30px;
  }
  img {
    padding: 15px 0 !important;
    width: 450px;
  }
}

// Tablet view
@media only screen and (max-width: $tablet) {
  .main-container {
    padding: 0 30px;
    :nth-child(3) {
      flex-direction: column-reverse !important;
    }
  }
}

// Tablet view
@media only screen and (max-width: $tablet) {
  .main-container {
    padding: 0 15px;
    img {
      width: 80%;
    }
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 20px;
    }
    h2 {
      font-size: 18px;
    }
    p,
    ul {
      font-size: 14px;
    }
  }
}
