//Max with media query:
$phone: 576px;
$tablet: 992px;
$laptop: 1200px;

.home {
  h3 {
    padding-left: 15px;
    padding-bottom: 10px;
  }

  // Laptop view
  @media only screen and (max-width: $laptop) {
    img {
      // padding: 1em;
      width: 450px;
      padding-left: 15px;

      background-color: yellow;
    }
  }
  //Tablet view
  @media only screen and (max-width: $tablet) {
    .row {
      flex-direction: column !important;
    }

    :first-child row {
      background-color: red;
    }
    img {
      padding: 15px 0 !important;
      width: 450px;
    }
  }

  //Mobile view:
  @media only screen and (max-width: $phone) {
    .row {
      flex-direction: column !important;
      background-color: yellow;
    }
    img {
      padding: 15px 0 !important;
      width: 500px;
    }
  }
}
