/***** NAVBAR *****/
$phone: 576px;
$tablet: 992px;
$laptop: 1200px;
nav {
  height: 7vh;
  padding: 20px 50px;
  align-items: center;
  margin-bottom: 15px;
  width: 80%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 20px;

  .active {
    padding: 10px 20px;
    background-color: #395144;
    color: #ffffff !important;

    transform: skew(-5deg);
  }

  a {
    padding: 10px 20px;

    &:hover:not(.active) {
      background-color: #4e6c50;
      color: #ffffff !important;
      transition: 0.2s;
      transform: skew(-5deg);
    }
  }
}
/***** NAVBAR *****/
