/***** NAVBAR *****/

nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 7vh;
  z-index: 1;
  padding: 20px 50px;
  align-items: center;
  margin-bottom: 15px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 20px;

  .active {
    padding: 10px 20px;
    background-color: #395144;
    color: #ffffff !important;

    transform: skew(-5deg);
  }

  a {
    padding: 10px 20px;

    &:hover:not(.active) {
      background-color: #4e6c50;
      color: #ffffff !important;
      transition: 0.2s;
      transform: skew(-5deg);
    }
  }
}
/***** NAVBAR *****/
