//Max with media query:
$phone: 576px;
$tablet: 992px;
$laptop: 1200px;

.pioneers {
  .pioneers-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      width: 500px;
      min-width: auto;
      min-height: auto;
      margin: 16px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      background-color: #f7f7f755;
      padding: 15px;

      h3,
      img,
      p {
        padding-bottom: 10px;
      }

      img {
        width: 200px;
        height: 300px;
        object-fit: cover;
      }
    }
  }
}

//Mobile view:
@media only screen and (max-width: $phone) {
  .pioneers {
    .pioneers-content {
      .card {
        min-width: 100%;
        width: auto;
        min-height: auto;

        img {
          width: 200px;
          height: 300px;
          object-fit: cover;
        }
      }
    }
  }
}
